[submodule "themes/midnight"]
	path = themes/midnight
	url = https://gitlab.com/BluestNight/Midnight.git
[submodule "themes/hugo-tikva"]
	path = themes/hugo-tikva
	url = https://github.com/geschke/hugo-tikva
